.clickable {
    cursor: pointer;
}

.navlink{
    text-decoration: none;
}

.accord-title {
    font-size:20px;
    font-weight:bold;
    background-color: #e6d646 !important;
}

.jao-banner-margin{
    margin-top: 2.7%;
}

.jao-banner-height-event-details{
    height: 750px !important;
}

.modal-footer-btns{
    margin: 5px;
}

.modal-footer-grp{
    margin-top: 5%;
}

.event_details_bottom{
    margin-bottom: 1%;
}

.client_email_warn{
    color: red;
    font-weight: bold;
}

.event_reg_code{
    color:red;
}